.CodeMirror {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 95%;
}

header {
	text-align: center;
}

body {
	font-family: monospace;
}

.side-content {
	padding: 10px 5px;
}

.wellwell {
	padding: 20px;
}

form .row {
	height: 100%;
}

.bg-dark {
	background-color: #343a40 !important;
	color: darkgray;
}

.form-control {
	background-color: #ebe6e6;
}